<!doctype html>
<html lang="en" ng-app="flashpoint">
<head>
  <title>Flash Point Scenario Helper</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="./flashpoint.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-controller="ScenarioController">

  <div>
    <h1 class="text-center">Flash Point Companion</h1>

    <div id="generator" class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Scenario Generator</h3>
        </div>
        <div class="panel-body center-block">
          <div class="col-xs-6">
            <select ng-model="gameDifficulty" ng-init="gameDifficulty='rookie'">
              <option value="{{setting.value}}" ng-repeat="setting in difficulty">{{setting.name}}</option>
            </select>
          </div>
          <div class="col-xs-6">
            <select ng-model="numberOfFirefighters" ng-init="numberOfFirefighters='3'">
              <option value="{{firefighters}}" ng-repeat="firefighters in [2,3,4,5,6]">{{firefighters}}</option>
            </select>
          </div>
          <button type="button" class="btn btn-default col-xs-offset-3 col-xs-6" ng-click="generate(gameDifficulty, numberOfFirefighters)">Generate</button>
        </div>
      </div>
    </div>

    <div id="mainView" class="text-center center-block">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">First Explosion</h3>
          </div>
          <div class="panel-body">
            <span class="d6-{{firstExplosion[0]}} dice img-responsive col-xs-4 col-xs-offset-4"></span>
            <span class="d8-{{firstExplosion[1]}} dice img-responsive col-xs-4"></span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Second Explosion</h3>
          </div>
          <div class="panel-body center-block">
            <div>
              <div class="d6-{{secondExplosion[0]}} dice img-responsive col-xs-4 col-xs-offset-4"></div>
              <div class="d8-{{secondExplosion[1]}} dice img-responsive col-xs-4"></div>
            </div>

            <button type="button" class="btn btn-default col-xs-offset-2 col-xs-8" ng-click="rerollExplosion('secondExplosion')">reroll</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Third Explosion</h3>
          </div>
          <div class="panel-body">
            <div>
              <div class="d6-{{thirdExplosion[0]}} dice img-responsive col-xs-4 col-xs-offset-4"></div>
              <div class="d8-{{thirdExplosion[1]}} dice img-responsive col-xs-4"></div>
            </div>

            <button type="button" class="btn btn-default col-xs-8 col-xs-offset-2" ng-click="rerollExplosion('thirdExplosion')">reroll</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">HazMat</h3>
          </div>
          <div class="panel-body">
            <div class="col-xs-4" ng-repeat="item in hazMat">
              <div>
                <div class="d6-{{item.red}} dice img-responsive col-xs-4 col-xs-offset-2"></div>
                <div class="d8-{{item.black}} dice img-responsive col-xs-4"></div>
              </div>
              <button type="button" class="btn btn-default col-xs-8 col-xs-offset-2" ng-click="reRoll(item.name, item.id)">reroll</button>
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">POI</h3>
          </div>
          <div class="panel-body">
            <div class="col-xs-4" ng-repeat="item in poi">
              <div>
                <div class="d6-{{item.red}} dice img-responsive col-xs-4 col-xs-offset-2"></div>
                <div class="d8-{{item.black}} dice img-responsive col-xs-4"></div>
              </div>
              <button type="button" class="btn btn-default col-xs-8 col-xs-offset-2" ng-click="reRoll(item.name, item.id)">reroll</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Hot Spots</h3>
          </div>
          <div class="panel-body">
            <div class="col-xs-4" ng-repeat="item in hotSpots">
              <div>
                <div class="d6-{{item.red}} dice img-responsive col-xs-4 col-xs-offset-4"></div>
                <div class="d8-{{item.black}} dice img-responsive col-xs-4"></div>
              </div>
              <button type="button" class="btn btn-default col-xs-8 col-xs-offset-2" ng-click="reRoll(item.name, item.id)">reroll</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>

  <script src="flashpoint.js"></script>
</body>
</html>
