<!doctype html>
<html lang="en" ng-app="flashpoint">
<head>
  <title>Flash Point Scenario Helper</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-controller="ScenarioController">
  <div id="mainView" class="text-center" ng-view>
    <h1>Flash Point Companion</h1>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">First Explosion</h3>
        </div>
        <div class="panel-body">
          {{firstExplosion[0]}}
          {{firstExplosion[1]}}
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Second Explosion</h3>
        </div>
        <div class="panel-body center-block">
          <div>
            {{secondExplosion[0]}}
            {{secondExplosion[1]}}
          </div>

          <button type="button" class="btn btn-default col-xs-offset-2 col-xs-8" ng-click="rerollExplosion('secondExplosion')">reroll</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Third Explosion</h3>
        </div>
        <div class="panel-body">
          <div>
            {{thirdExplosion[0]}}
            {{thirdExplosion[1]}}
          </div>

          <button type="button" class="btn btn-default col-xs-8 col-xs-offset-2" ng-click="rerollExplosion('thirdExplosion')">reroll</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">HazMat</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-4">
            <div>
              {{hazMat[0][0]}}
              {{hazMat[0][1]}}
            </div>
            <button type="button" class="btn btn-default col-xs-8 col-xs-offset-2" ng-click="reroll('hazMat', 0)">reroll</button>
          </div>
          <div class="col-xs-4">
            <div>
              {{hazMat[1][0]}}
              {{hazMat[1][1]}}
            </div>
            <button type="button" class="btn btn-default col-xs-8 col-xs-offset-2" ng-click="reroll('hazMat', 1)">reroll</button>
          </div>
          <div class="col-xs-4">
            <div>
              {{hazMat[2][0]}}
              {{hazMat[2][1]}}
            </div>
            <button type="button" class="btn btn-default col-xs-8 col-xs-offset-2" ng-click="reroll('hazMat', 2)">reroll</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">POI</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-4">
            <div>
              {{poi[0][0]}}
              {{poi[0][1]}}
            </div>
            <button type="button" class="btn btn-default col-xs-8 col-xs-offset-2" ng-click="reroll('poi', 0)">reroll</button>
          </div>
          <div class="col-xs-4">
            <div>
              {{poi[1][0]}}
              {{poi[1][1]}}
            </div>
            <button type="button" class="btn btn-default col-xs-8 col-xs-offset-2" ng-click="reroll('poi', 1)">reroll</button>
          </div>
          <div class="col-xs-4">
            <div>
              {{poi[2][0]}}
              {{poi[2][1]}}
            </div>
            <button type="button" class="btn btn-default col-xs-8 col-xs-offset-2" ng-click="reroll('poi', 2)">reroll</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Hot Spots</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-4">
            <div>
              {{hotSpots[0][0]}}
              {{hotSpots[0][1]}}
            </div>
            <button type="button" class="btn btn-default col-xs-8 col-xs-offset-2" ng-click="reroll('hotSpots', 0)">reroll</button>
          </div>
          <div class="col-xs-4">
            <div>
              {{hotSpots[1][0]}}
              {{hotSpots[1][1]}}
            </div>
            <button type="button" class="btn btn-default col-xs-8 col-xs-offset-2" ng-click="reroll('hotSpots', 1)">reroll</button>
          </div>
          <div class="col-xs-4">
            <div>
              {{hotSpots[2][0]}}
              {{hotSpots[2][1]}}
            </div>
            <button type="button" class="btn btn-default col-xs-8 col-xs-offset-2" ng-click="reroll('hotSpots', 2)">reroll</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>

  <script src="flashpoint.js"></script>
</body>
</html>
